<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="profile">
			<img src="/img/logo2.png">
		</a>
		<ul class="side-menu top">
		<li class="{{ app.request.attributes.get('_route') == 'app_home' ? 'active' : '' }}">
			<a href="{{ path('app_home') }}">
				<i class='bx bxs-dashboard'></i>
				<span class="text">Dashboard</span>
			</a>
		</li>
		<li class="{{ app.request.attributes.get('_route') == 'app_direction_new' ? 'active' : '' }}">
			<a href="{{ path('app_direction_new') }}">
				<i class='bx bxs-shopping-bag-alt'></i>
				<span class="text">Direction</span>
			</a>
		</li>
		<li class="{{ app.request.attributes.get('_route') == 'app_chauffeur_new' ? 'active' : '' }}">
			<a href="{{ path('app_chauffeur_new') }}">
				<i class='bx bxs-group'></i>
				<span class="text">Chauffeur</span>
			</a>
		</li>
		<li class="{{ app.request.attributes.get('_route') == 'app_voiture_new' ? 'active' : '' }}">
			<a href="{{ path('app_voiture_new') }}">
				<i class='bx bxs-doughnut-chart'></i>
				<span class="text">Voiture</span>
			</a>
		</li>
		<li class="{{ app.request.attributes.get('_route') == 'app_detentionvoiture_new' ? 'active' : '' }}">
			<a href="{{ path('app_detentionvoiture_new') }}">
				<i class='bx bxs-doughnut-chart'></i>
				<span class="text">Detention voiture</span>
			</a>
		</li>
		<li class="{{ app.request.attributes.get('_route') == 'app_etatvoiture_new' ? 'active' : '' }}">
			<a href="{{ path('app_etatvoiture_new') }}">
				<i class='bx bxs-shopping-bag-alt'></i>
				<span class="text">Etat voiture</span>
			</a>
		</li>
		<li class="{{ app.request.attributes.get('_route') == 'app_personneldetenteur_new' ? 'active' : '' }}">
			<a href="{{ path('app_personneldetenteur_new') }}">
				<i class='bx bxs-group'></i>
				<span class="text">Personnel detenteur</span>
			</a>
		</li>
	</ul>
	<ul class="side-menu">
		<li></li>
		<li>
			<a href="{{ path('app_login') }}" class="logout">
				<i class='bx bxs-log-out-circle'></i>
				<span class="text">Logout</span>
			</a>
		</li>
	</ul>
</section>